{
  "presets": ["env", "flow"],

  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}
