{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "8" } }],
    ["@babel/preset-flow"]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-async-generator-functions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
